<section class="mt-4">
    <div class="container">
        <a href="/prospect/add" class="btn btn-success btn-sm mb-3"><i class="fa fa-plus"></i> Add Prospects</a>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                <table class="text-center table table-hover table stripped table-sm table-bordered">
                    <thead class="bg-primary text-light align-middle">
                        <tr>
                            <th colspan="8"><h4 class="text-light text-center">Prospect Table</h4></th>
                        </tr>
                        <tr class="bg-dark">
                            <th>Prospect Name</th>
                            <th>Company Name</th>
                            <th>Projects Name</th>
                            <th>Designation</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Status</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% prospects.forEach((prospect)=>{ %>
                            <tr>
                                <td><%= prospect.prospectName %></td>
                                <td><%= prospect.companyId.companyName %></td>
                                <td><%= prospect.projectId.projectName %></td>
                                <td><%= prospect.prospectDesignation %></td>
                                <td><%= prospect.prospectOfficalEmail %></td>
                                <td><%= prospect.prospectOfficalContact %></td>
                                <td>
                                    <select name="prospectStatus" id="prospectStatus" onchange="updateProspectStatus('<%= prospect._id%>');" class="btn btn-sm btn-success" >
                                        <option value="Active" <%  if(prospect.prospectStatus == "Active"){ 
                                            %>selected <% } %> > Active </option>
                                        <option value="In-Active" <%  if(prospect.prospectStatus == "In-Active"){ 
                                            %>selected <% } %> >In-Active</option>
                                    </select>
                                </td>
                                <td>
                                    <button type="button" onclick="updateProject('<%= prospect._id%>');" class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Edit</button>
                                </td>
                            </tr>
                        <% })%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="modal fade show" id="myModalProspect" role="dialog">
        <div class="modal-dialog">        
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header bg-danger text-light justify-content-center">
                <h4 class="modal-title">Prospect Edit</h4>
                </div>
                <div class="modal-body">
                    <div class="row" id="updateData">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <table class="table table-sm table-bordered">
                                <input type="hidden" id="prospectIdInput">
                                <tr>
                                    <th>Prospect Name</th>
                                    <td>
                                        <input type="text" class="form-control" name="prospectName" placeholder="Enter Prospect Name" id="prospectName" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Offical Email</th>
                                    <td>
                                        <input type="email" name="prospectOfficalEmail" id="prospectOfficalEmail" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Offical Contact</th>
                                    <td>
                                        <input type="text" name="prospectOfficalContact" id="prospectOfficalContact" class="form-control" />
                                    </td>
                                </tr>
                                <tr>
                                    <th>Company</th>
                                    <td>
                                        <select name="companyId" id="companyId" class="form-control"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Project</th>
                                    <td>
                                        <select name="projectId" id="projectId" class="form-control"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Prospect Designation</th>
                                    <td>
                                        <input type="text" id="prospectDesignation" name="prospectDesignation" class="form-control">
                                    </td>
                                </tr>
                                <tr class="bg-danger text-center text-light">
                                    <th colspan="2">Prospect Description</th>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <textarea name="prospectDescription" id="prospectDescription" class="form-control" cols="30" rows="4"></textarea>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer bg-danger text-light d-flex justify-content-between">
                    <button type="button" id="updateProspectBtn" class="btn btn-sm btn-outline-light" onclick="updateAndSaveProspect();"><i class="fa fa-edit"></i> Update</button>
                <button type="button" class="btn btn-outline-light" onclick="closemodel();" >Close</button>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    function updateProject(prospectId)
    {
        let data = {prospectId : prospectId};
        let status = fetch("/prospect/find",{
            method : "POST",
            mode : "cors",
            cache : "no-cache",
            credentials: "same-origin",
            headers : { "Content-Type" : "application/json" },
            redirect : "follow",
            referrerPolicy : "no-referrer",
            body : JSON.stringify(data)
        }).then((result)=>result.json())
        .then((res)=>{
            document.getElementById("prospectIdInput").value = res.prospectData._id;
            document.getElementById("prospectName").value = res.prospectData.prospectName;
            document.getElementById("prospectOfficalEmail").value = res.prospectData.prospectOfficalEmail;
            document.getElementById("prospectOfficalContact").value = res.prospectData.prospectOfficalContact;
            document.getElementById("prospectDesignation").value = res.prospectData.prospectDesignation;
            document.getElementById("prospectDescription").value = res.prospectData.prospectDescription

            let cmpOpts = '';
            res.companies.map((company,key)=>{
                if(res.prospectData.companyId._id === company._id)
                    cmpOpts += "<option value='"+company._id+"' selected>"+company.companyName+"</option>";
                else
                    cmpOpts += "<option value='"+company._id+"'>"+company.companyName+"</option>";
            });
            document.getElementById("companyId").innerHTML = cmpOpts;

            let prjctOpts = '';
            res.projects.map((project,key)=>{
                if(res.prospectData.projectId._id === project._id)
                    prjctOpts += "<option value='"+project._id+"' selected>"+project.projectName+"</option>";
                else
                    prjctOpts += "<option value='"+project._id+"'>"+project.projectName+"</option>";
            });
            document.getElementById("projectId").innerHTML = prjctOpts;

            const model = document.getElementById('myModalProspect');
            model.style.display = "block"
       });
    }

    function updateProspectStatus(prospectId)
    {
        let e = document.getElementById("prospectStatus");
        let status = e.options[e.selectedIndex].value;
        let data = {
            prospectId : prospectId,
            status : status
        };

        fetch("/prospect/updateStatus",{
            method : "POST",
            mode : "cors",
            cache : "no-cache",
            credentials: "same-origin",
            headers : {
                "Content-Type" : "application/json"
            },
            redirect : "follow",
            referrerPolicy : "no-referrer",
            body : JSON.stringify(data) 
        }).then((result)=>result.json())
        .then((res)=>{
           if(res.status == 1)
            alert("Prospect Status Updated!");
           else
            alert("Ooppss...Something Error!");
        
           window.location.replace("/prospect/all");
        });
    }

    function closemodel()
    {
        const model = document.getElementById('myModalProspect');
        model.style.display = "none";
    }

    function updateAndSaveProspect()
    {
        let e = document.getElementById("companyId");
        let companyId = e.options[e.selectedIndex].value;

        let ex = document.getElementById("projectId");
        let projectId = ex.options[ex.selectedIndex].value;

        let _id = document.getElementById("prospectIdInput").value;

        let data = {
            prospectName : document.getElementById("prospectName").value,
            prospectOfficalEmail : document.getElementById("prospectOfficalEmail").value,
            prospectOfficalContact : document.getElementById("prospectOfficalContact").value,
            prospectDesignation : document.getElementById("prospectDesignation").value,
            prospectDescription : document.getElementById("prospectDescription").value,
            companyId : companyId,
            projectId : projectId,
        };

        fetch("/prospect/update",{
            method : "POST",
            mode : "cors",
            cache : "no-cache",
            credentials: "same-origin",
            headers : {
                "Content-Type" : "application/json"
            },
            redirect : "follow",
            referrerPolicy : "no-referrer",
            body : JSON.stringify({_id : _id, data:data}) 
        }).then((result)=>result.json())
        .then((res)=>{
            if(res.status == 1)
                alert("Update Prospect Successfully!")
            else
                alert("Ooppss...Somthing Error!");
            window.location.replace("/prospect/all");    
        });
    }
</script>