<section class="mt-4">
    <div class="container">
        <a href="/prospect/add" class="btn btn-success btn-sm mb-3"><i class="fa fa-plus"></i> Add Prospects</a>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>
                <table class="text-center table table-hover table stripped table-sm table-bordered">
                    <thead class="bg-primary text-light align-middle">
                        <tr>
                            <th colspan="8"><h4 class="text-light text-center">Prospect Table</h4></th>
                        </tr>
                        <tr class="bg-dark">
                            <th>Prospect Name</th>
                            <th>Company Name</th>
                            <th>Projects Name</th>
                            <th>Designation</th>
                            <th>Email</th>
                            <th>Contact</th>
                            <th>Status</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% prospects.forEach((prospect)=>{ %>
                            <tr>
                                <td><%= prospect.prospectName %></td>
                                <td><%= prospect.companyId.companyName %></td>
                                <td><%= prospect.projectId.projectName %></td>
                                <td><%= prospect.prospectDesignation %></td>
                                <td><%= prospect.prospectOfficalEmail %></td>
                                <td><%= prospect.prospectOfficalContact %></td>
                                <td>
                                    <select name="prospectStatus" id="prospectStatus" onchange="updateProspectStatus('<%= prospect._id%>');" class="btn btn-sm btn-success" >
                                        <option value="Active" <%  if(prospect.prospectStatus == "Active"){ 
                                            %>selected <% } %> > Active </option>
                                        <option value="In-Active" <%  if(prospect.prospectStatus == "In-Active"){ 
                                            %>selected <% } %> >In-Active</option>
                                    </select>
                                </td>
                                <td>
                                    <a href="/prospect/edit/<%= prospect._id%>" class="btn btn-sm btn-success"><i class="fa fa-edit"></i> Edit</a>
                                </td>
                            </tr>
                        <% })%>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<script>
    function deleteProspect(prospectId)
    {
        let data = {prospectId : prospectId};
        let status = fetch("/prospect/delete",{
            method : "POST",
            mode : "cors",
            cache : "no-cache",
            credentials: "same-origin",
            headers : { "Content-Type" : "application/json" },
            redirect : "follow",
            referrerPolicy : "no-referrer",
            body : JSON.stringify(data)
        }).then((result)=>result.json())
        .then((res)=>{
            if(res.status == 1)
                alert("Prospect De-Active Successfully!" );
            else    
                alert("Ooppss...Something Error!" );
            window.location.replace("/prospect/all");
       });
    }

    function updateProspectStatus(prospectId)
    {
        let e = document.getElementById("prospectStatus");
        let status = e.options[e.selectedIndex].value;
        let data = {
            prospectId : prospectId,
            status : status
        };

        fetch("/prospect/updateStatus",{
            method : "POST",
            mode : "cors",
            cache : "no-cache",
            credentials: "same-origin",
            headers : {
                "Content-Type" : "application/json"
            },
            redirect : "follow",
            referrerPolicy : "no-referrer",
            body : JSON.stringify(data) 
        }).then((result)=>result.json())
        .then((res)=>{
           if(res.status == 1)
            alert("Prospect Status Updated!");
           else
            alert("Ooppss...Something Error!");
        
           window.location.replace("/prospect/all");
        });
    }
</script>