<section>
    <div class="container">
        <table class="table table-sm table-bordered text-center">
            <tr>
                <div class="row">
                    <th class="col-lg-6 col-md-6 col-xs-12 col-sm-12">Project Name</th>
                    <td class="col-lg-6 col-md-6 col-xs-12 col-sm-12"><%= project.projectName %></td>
                </div>
            </tr>
            <tr>
                <div class="row">
                    <th class="col-lg-6 col-md-6 col-xs-12 col-sm-12">Company Name</th>
                    <td class="col-lg-6 col-md-6 col-xs-12 col-sm-12"><%= project.companyId.companyName %></td>
                </div>
            </tr>
            <tr>
                <div class="row">
                    <th class="col-lg-6 col-md-6 col-xs-12 col-sm-12">Project Description</th>
                    <td class="col-lg-6 col-md-6 col-xs-12 col-sm-12"><%= project.projectDescription %></td>
                </div>
            </tr>
            <tr>
                <div class="row">
                    <th class="col-lg-6 col-md-6 col-xs-12 col-sm-12">Project Status</th>
                    <td class="col-lg-6 col-md-6 col-xs-12 col-sm-12"><%= project.projectStatus %></td>
                </div>
            </tr>
            <tr>
                <div class="row">
                    <th class="col-lg-6 col-md-6 col-xs-12 col-sm-12">Project Created Date</th>
                    <td class="col-lg-6 col-md-6 col-xs-12 col-sm-12"><%= project.createdAt %></td>
                </div>
            </tr>
            <tr>
                <div class="row">
                    <th class="col-lg-6 col-md-6 col-xs-12 col-sm-12">Project Created Date</th>
                    <td class="col-lg-6 col-md-6 col-xs-12 col-sm-12"><%= project.updatedAt %></td>
                </div>
            </tr>
        </table>
    </div>
</section>